
@{
    ViewData["Title"] = "TempDataTest";
}

<h2>TempDataTest</h2>

<div>@TempData["error"]</div>
@*将 TempData["greetng"] 生命期延长一次*@
<div>@TempData.Peek("greeting")</div>

<br/>
<div>@Html.ActionLink("Another", "Index", "TempData")</div>
@Html.ActionLink("ReceiveTempData", "ReceiveTempData")